name: DORA Dashboard

on:
  push:
      branches: [main]
      paths:
        - 'k8s/**'
  pull_request:
      branches: [main]
      paths:
        - 'k8s/**'
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * 1"  # cada lunes 06:00 UTC

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Generate metrics.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python scripts/dora_collector.py

      - name: Commit updated metrics.json
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add docs/metrics.json
          git commit -m "chore(dora): update metrics" || echo "No changes"
          git push
